*{margin: 0; padding: 0;}

 div {
            position: relative;
            top:-144%;
            left: 48%;
            transform: translate(0%, 0%);
        }

	
  
        h2 {
            font-size: 2em;
            font-family: serif;
            color: #CD5C5C; //color: #9370DB;//
            text-align: center;
            animation: animate 
                1.00s linear infinite;
        }
  		
	
        @keyframes animate {
            0% {
                opacity: 0;
            }
  
            50% {
                opacity: 0.7;
            }
  
            100% {
                opacity: 0;
            }
        }

